@import url('./ford-fonts/ford-fonts.css');

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;  
}

html {
	width: 100%;
	height: 100%;
	box-sizing: border-box; 

}

body {
	background-image: url(images/start-challenges.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#Content {
	position: relative;
}

#titleBar {
	width: 100%;
	height: 70px;	
	
}

.welcome {
	font-family: FordAntenna-Bold; 
	color: #fff; 
	font-size: 26pt; 
	padding: 10px 0px 0px 20px;
	float:left;	
}

.dealerName {
	font-family: fordantenna light; 
	color: #fff; 
	font-size: 24pt; 
	padding: 12px 0px 0px 20px; 
	float:left;	
}

#challOption {
	height: 400px; width: 30%; background-color: #06A7E2; border-radius: 5px; display:inline-block; margin-right: 120px;	
	
}

#challOptionR {
	height: 300px; width: 20%; background-color: #06A7E2; border-radius: 5px; display:inline-block;

}

.OptionTitles {
	font-family: FordAntenna Semibold; 
	color: #fff;
	font-size: 20pt;
	line-height: 40px;
}

.OSE {
	font-family: FordAntenna-Bold; 
	color: #fff;
	font-size: 18pt;
}

.searchTerms {
	font-family: fordantenna light;
	color: #fff;
	font-size: 16pt;
}

#checkMark {
	background-image: url(images/chal-not-completed-check-mark.png);
	background-repeat: no-repeat;
	height: 75px;
	width: 75px;
	margin: 30px auto;
}

#checkMarkOn {
	background-image: url(images/chal-completed-check-mark.png);
	background-repeat: no-repeat;
	height: 75px;
	width: 75px;
	margin: 30px auto;
}

#homeBtn {
	float:right; height: 70px; width: 70px; margin-right: 30px;
}

#startOver {
	float:right; height: 70px; width: 70px; margin-right: 5px;
}

#questionsDiv {
	width: 100%; height: 80px; margin-top: 10px;
}

.Yes {
	width: 50px; height: 50px; float:left; background-image: url(images/yes.png); background-repeat: no-repeat;
}

.YesOn {
	width: 50px; height: 50px; float:left; background-image: url(images/yes-on.png); background-repeat: no-repeat;
}

.No {
	width: 50px; height: 50px; float:left; margin-left: 20px; background-image: url(images/no.png); background-repeat: no-repeat;
}

.NoOn {
	width: 50px; height: 50px; float:left; margin-left: 20px; background-image: url(images/no-on.png); background-repeat: no-repeat;
}

#theQuestion {
	width: 310px; height: 70px; float:left; margin-left: 20px; font-family: fordantenna light; color: #fff; font-size: 13pt;
}

#strOpp {
	width: 400px; height: 120px; background-image: url(images/strength-opp-bg.png); background-repeat: no-repeat; margin: 30px auto;
}

#StrengthBTN {
	width: 150px;
	height: 34px;
	background-image:url(images/strength-opp-btn.png);
	background-repeat:no-repeat;
	cursor:pointer;
	border: 0;
	font-family: fordantenna light;
	color: #fff;
	font-size: 10pt;
	background-color:transparent;
	float:left;
	margin-right: 20px;
}