body {
	margin: 0px;
}

#ScanWrapper {
	width: 100%;
	height: 100%;
	background: url('./images/scan-bg.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	overflow: hidden;
}