*, *:before, *:after {
  box-sizing: border-box;
}

body {
	margin: 0px;
}

#ScheduleWrapper {
	width: 100%;
	height: 100%;
	background: url('./images/schedule-bg.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	overflow: hidden;
}

div#PageHeader {
	/* outline: 1px solid turquoise; */
	height: 5.6vh;
	line-height: 5.6vh;
	color: white;
	font-size: 2.4em;
	font-family: 'FordAntenna Light';
}

div#PageHeader b {
	font-family: 'FordAntenna Bold';
	margin: 0px 20px;
}

div#FormTop {
	position: absolute;
	top: 18.3%;
	left: 50%;
	transform: translateX(-50%);
	/* outline: 1px solid blue; */
	width: 91.8%;
	height: 21.7%;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: stretch;
}

div#FormMid {
	position: absolute;
	top: 48.9%;
	left: 50%;
	transform: translateX(-50%);
	/* outline: 1px solid blue; */
	width: 91.7%;
	height: 26.3%;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: stretch;
}

.form1 {
	width: 16%;
}
.form2 {
	width: 32.8%;
}
.form3 {
	width: 49.6%;
}
.formM {
	width: 100%;
	height: 11.8vh !important;
	margin-bottom: -1.9vh;
}

.formM span {
	line-height: 1.2 !important;
	float: left;
	margin-top: 0.6em;
}

input, textarea {
	background: transparent;
	outline: none;
	border: none;
	font-family: 'FordAntenna Light';
	color: white;
	line-height: 5.8vh;
	vertical-align: middle;
	font-size: 1.1em;
	text-transform: uppercase;
}

.flex-form div {
	height: 5.3vh;
	background: transparent;
	outline: none;
	border: none;
	font-family: 'FordAntenna Bold';
	color: white;
	font-size: 1.6em;
	padding-left: 0.4em;
	/* outline: 1px solid yellow; */
	line-height: 5.3vh;
	letter-spacing: -0.7px;
}

.flex-form div input,
.flex-form div textarea {
	width: 80%;
	height: 100%;
	float: right;
	/* outline: 1px solid red; */
}

/*input#Name_First {
	width: 67%;
}

input#Name_Last {
	width: 67%;
}

input#Address {
	width: 73%;
}

input#State {
	width: 62%;
}

input#City {
	width: 85%;
}

input#Zip {
	width: 77%;
}

input#Email {
	width: 88%;
}

input#Phone {
	width: 83%;
}

input#Name_Dealer {
	width: 80%;
}

input#Add_Name_First {
	width: 79%;
}

input#Add_Name_Last {
	width: 79%;
}

input#Add_Email {
	width: 88%;
}

input#Add_Phone {
	width: 83%;
}

input#Add_Notes {
	width: 93.6%;
}*/

textarea#Add_Notes {
	width: 90.1%;
}



div#Finished {
	position: fixed;
	bottom: 8vh;
	left: 49.8vw;
	transform: translateX(-50%);
	width: 22.2vw;
	height: 5.7vh;
	background: url('./images/btnFinished.png');
	background-size: cover;
}

div#Clear {
	position: fixed;
	top: 1.3vh;
	right: 6.3vw;
	height: 4vh;
	width: 4vh;
	background: url('./images/btnClear.png');
	background-size: cover;
}

div#Home {
	position: fixed;
	top: 1.3vh;
	right: 2.4vw;
	height: 5vh;
	width: 5vh;
	background: url(./images/btnHome.png);
	background-size: cover;
}