@import url('./ford-fonts/ford-fonts.css');

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;  
}

html {
	width: 100%;
	height: 100%;
	box-sizing: border-box; 

}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#home-wrapper {
	height: 100%;
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#scan-wrapper {
	height: 100%;
	background-image: url(images/scan.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.centervertical {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
}
.hidden {
	visibility: hidden;
}
.nothidden {
	visibility: visible;
}

.errorglow {
	box-shadow: inset 0pt 0pt 16pt red;
	outline: 2px solid red;
}

#Content {
	position: relative;
	padding-top: 330px;
/*	width: 1920px;
	height: 1080px;
	outline: 1px solid magenta;
	overflow: hidden;*/
}

img#Logo {
	position: absolute;
	left: calc(50% - 224px);
	top: 5%;
}

div#FormContainer {
	margin: 0 auto;
	width: 740px;
	height: 60%;
}

.signuptext {
	width: 100%;
	height: 50px;
	padding: 10px 20px;
	margin: 2px;
	font-family: fordantenna light;
	font-size: 22px;
	color: #002e6d;
}
.signuptext::-webkit-input-placeholder {
	color: #47484B;
}

.checkboxwrapper {
	display: inline-block;
	width: 340px;
	height: 70px;
	position: relative;
	margin-top: 50px;
	float: right;
}
#OptoutBox {
	height: 30px;
	width: 30px;
	vertical-align: middle;
	position: relative;
	bottom: 1px;
	margin-right: 15px;
}
label {
	float: right;
	font-family: fordantenna light;
	font-size: .95em;
	color: white;
}


/*Freaking button shadow >_> */
#SubmitButton {
	display: inline-block;
	width: 340px;
	height: 55px;
	border: 2px solid #fff;
	border-radius: 12px;
	background-color: #06a7e2;
	position: relative;
	margin-top: 50px;
	overflow: hidden;
	position: relative;
}

#SubmitButton .Inner {
	height: calc(100% - 8px);
	width: calc(100% - 6px);
	border-radius: 5px;
	margin: 3px;
	z-index: 2;
	text-align: center;
	text-decoration: none;
	font-family: 'fordantenna light';
	font-size: 2em;
	color: white;
}

#SubmitButton .ShadowOver, .Button .ShadowOver {
	z-index: 3;
}

.error {
	background-color: #FFBBBC;
}

#RFIDinput {
    width: 0;
    height: 0;
    outline: none;
    border: none;
}

.Title {
    font-family: fordantenna semibold;
    font-size: 4em;
    color: white;
    text-shadow: 0px 0px 16px black;
    text-align: center;
    padding-top: 90px;
}